*{	

	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
.header{
	height: 100px;
	width: 1100px;
	margin:0 auto;
	padding-top: 50px;
}
.content{
	display:flex;
	width: 1200px;
	margin: 0 auto;
}
.gallery{
	display: flex;
	height: 100%;
  	flex-wrap:wrap;
  	overflow: hidden;

	
}
.gallery:{
	
}
.gallery__item{
	display: flex;

	border: 1px solid grey;
  	border-radius: 5px;
  	overflow: hidden;
  	margin: 20px;
  	padding: 10px;
  	padding-bottom: 10px;

}
.gallery__link{
	text-decoration: none;
	width: 200px;  
  	height: 200px; 

}